@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Raleway+Dots&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Outfit', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: #3a3a3a;
}

h1 {
    font-family: 'Raleway Dots', cursive;
    font-size: 120px;
    text-transform: uppercase;
    initial-letter: 4px;
    color: #3a3a3a;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    text-transform: uppercase;
    initial-letter: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
}

/* navigation links */
#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

