@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Raleway+Dots&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Outfit', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: #3a3a3a;
}

h1 {
    font-family: 'Raleway Dots', cursive;
    font-size: 70px;
    text-transform: uppercase;
    initial-letter: 4px;
    color: #3a3a3a;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    text-transform: uppercase;
    initial-letter: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    text-decoration: none;
}

#home #logo {
    margin-bottom: 20px;
}

.page-header {
    height: 20vh;	
}

/* navigation links */
#menu {
    font-size: 80%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}




#classes {
    background-image: url();
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#classes div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 15%;
    height: 280px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;
}

/* footer and social media icons */

footer {
    height: 100px;
    background-color: #3a3a3a;
}

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks a {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
}